@import "antd/dist/antd.css";

#inputProject{

    background-color: #c4c4c4;
}

#inputStatus{

    background-color: #c4c4c4;
}

#inputDescricao{

    background-color: #c4c4c4;
    height: 100px;
    margin-top: -40%;
    margin-right: 100px;
}

#labelStatus{
    margin-left: 200px;
}

#selector{
   margin-top:100px;
}


.ant-select-show-arrow{
    background-color: #c4c4c4;
}

#status{
    width: 120px;
    background-color: #c4c4c4;
    align-items: center;
    text-align: center;
}