@import "antd/dist/antd.css";

.ant-layout-header{ 
    background-color: white;
    width: 100vw;
    margin-left: -18%;
    border-bottom: 4px solid #c4c4c4;
    
   }

.client{
    text-align: right;
    margin-top: -7%;
}

.logo {
    font-size: 30px;
}

.ant-layout-sider-dark{
    background-color: white;
    margin-top: 4.6%;
    height: 100%;

}


.ant-menu {
   
    background-color: white;
    
    
    

}

#call-btn {
    border: none;
    box-shadow: none;
    text-decoration-line: underline;
}

.ant-layout-content{
    margin: 20px;


}
.ant-layout{
    background-color: white;
    height: 100vh;
}

.ant-layout-footer{
    background-color: white;
    text-align: right;
}

#create-btn{
    background-color: #c4c4c4;
    float: right;
    margin-bottom: 20px;
}
.ant-layout-sider{
    height: 100%;
}

#sider{
    border: 2px solid #c4c4c4;
    height: 1000px;
    border-bottom: none;
}

#siderForm{
    border: 2px solid #c4c4c4;
    height: 570px;
    border-bottom: none;
}

#logout{
    height: 25px;
    border:none;
    margin-top: 40px;
    float: left;
    margin-left: -40px;
}